

	html{
			background-color: Magenta;
		}

		.text1, .text2, .text3{
			color: white;
			font-family: futura;
			
		}

		.text1{
			width: 100vw;
			height: 100vh;
			display: block;
			text-align: left;
			line-height: 0.3;
			font-size: 100px;
		}

		.text2{
			font-size: 150px;
			width: 100vw;
			height: 100vh;
			display: block;
			text-align: left;
			line-height: 0.3;
			display: none;
		}

		.text3{
			font-size: 200px;
			width: 100vw;
			height: 100vh;
			display: block;
			text-align: left;
			line-height: 0.3;
			display: none;
		
		}





		@media(max-width: 1000px){
			html{
				background-color: MediumPurple;
			}

			.text2{
			display: block;
			
			}

			.text3{
			display: none;
			
			}

			.text1{
			display: none;
			
			}

		}



		@media(max-width: 800px){
			html{
				background-color: DodgerBlue;
			}

			.text3{
			display: block;
			
			}

			.text1{
			display: none;
			
			}

			.text2{
			display: none;
			
			}
		

		}


