
body {
  margin: 0px;
  background-image: url("img/park6.png");
  background-repeat: no-repeat;
  background-size: 100%;

}

a:link, a:visited {
  position: fixed;
  width: 4vw;
  height: 4vw;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  color: black;
  font-size: 1vw;
  font-family: futura;
  text-decoration: none;
  text-align: center;
  line-height: 4vw;
  

}

a:hover, a:active {
  background-color: black;
}

img {
    height: auto;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;

}





