
* {
  background-color: #171543;
  margin: 0px;

}

.sun{
	width: 65vw;
	position: fixed;
	left: 17%;
	top: 8vw;
}
.planet1{
	position: fixed;
	width: 20vw;
	left: 17%;
	top: 8vw;
}

.planet2{
	position: fixed;
	width: 25vw;
	left: 60%;
	top: 8vw;
}

.planet3{
	position: fixed;
	width: 18vw;
	left: 5%;
	top: 25vw;
}

.planet4{
	position: fixed;
	width: 30vw;
	left: 17%;
	top: 40vw;
}

.planet5{
	position: fixed;
	width: 50vw;
	left: 60%;
	top: 25vw;
}


.planet6{
	position: fixed;
	width: 30vw;
	left: 50%;
	top: 38vw;
}
