
body {
  margin: 0px;
 /* background-image: url("park4.png");*/
   background-image: url("img/park.svg");
  background-repeat: no-repeat;
  background-size: 100%;

}

/*.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container .btn {
  position: fixed;
  width: 20px;
  height: 20px;
  top: 707px;
  left: 680px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: yellow;
  border: none;
  cursor: pointer;
  border-radius: 100%;
 
}

.container .btn:hover {
  background-color: white;
}*/

a:link, a:visited {
  position: fixed;
  width: 20px;
  height: 20px;
  top: 707px;
  left: 680px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: yellow;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

a:hover, a:active {
  background-color: white;
}


#dot-1{

  left: 48%;
  top: 50vw;

}

#dot-2{

  left: 46%;
  top: 48vw;

}

#dot-3{

  left: 48%;
  top: 46vw;

}

#dot-4{

  left: 46%;
  top: 46vw;

}

#dot-5{

  left: 45%;
  top: 42vw;

}

#dot-6{

  left: 43%;
  top: 44vw;

}


#dot-7{

  left: 50%;
  top: 43vw;

}

























