@font-face {
    		font-family:"GT America Mono Trial Bold Italic";
    		src:url("fonts/GT-America-Mono-Trial-Bold-Italic.woff2") format("woff2"),url("GT-America-Mono-Trial-Bold-Italic.woff") format("woff"),url("GT-America-Mono-Trial-Bold-Italic.otf") format("opentype");
    		font-style:normal;font-weight:400;}

    	@font-face {
    		font-family:"GT America Mono Trial Bold";
    		src:url("fonts/GT-America-Mono-Trial-Bold.woff2") format("woff2"),url("GT-America-Mono-Trial-Bold.woff") format("woff"),url("GT-America-Mono-Trial-Bold.otf") format("opentype");
    		font-style:normal;font-weight:400;}

    	@font-face {
    		font-family:"GT America Mono Trial Regular Italic";
    		src:url("fonts/GT-America-Mono-Trial-Regular-Italic.woff2") format("woff2"),url("GT-America-Mono-Trial-Regular-Italic.woff") format("woff"),url("GT-America-Mono-Trial-Regular-Italic.otf") format("opentype");
    		font-style:normal;font-weight:400;}


		@font-face {
    		font-family:"GT America Mono Trial Regular";
    		src:url("fonts/GT-America-Mono-Trial-Regular.woff2") format("woff2"),url("GT-America-Mono-Trial-Regular.woff") format("woff"),url("GT-America-Mono-Trial-Regular.otf") format("opentype");
    		font-style:normal;font-weight:400;}


		@font-face {
    		font-family:"GT America Trial Bold Italic";
    		src:url("fonts/GT-America-Trial-Bold-Italic.woff2") format("woff2"),url("GT-America-Trial-Bold-Italic.woff") format("woff"),url("GT-America-Trial-Bold-Italic.otf") format("opentype");
    		font-style:normal;font-weight:400;}

    	@font-face {
    		font-family:"GT America Trial Bold";
    		src:url("fonts/GT-America-Trial-Bold.woff2") format("woff2"),url("GT-America-Trial-Bold.woff") format("woff"),url("GT-America-Trial-Bold.otf") format("opentype");
    		font-style:normal;font-weight:400;}

    	@font-face {
    		font-family:"GT America Mono Trial Light Italic";
    		src:url("fonts/GT-America-Mono-Trial-Light-Italic.woff2") format("woff2"),url("GT-America-Mono-Trial-Light-Italic.woff") format("woff"),url("GT-America-Mono-Trial-Light-Italic.otf") format("opentype");
    		font-style:normal;font-weight:400;}

    	@font-face {
    		font-family:"GT America Mono Trial Light";
    		src:url("fonts/GT-America-Mono-Trial-Light.woff2") format("woff2"),url("GT-America-Mono-Trial-Light.woff") format("woff"),url("GT-America-Mono-Trial-Light.otf") format("opentype");
    		font-style:normal;font-weight:400;}
		
		
		html{
			padding: 0;
			margin: 0;
		}

		body{
			padding: 0;
			margin: 0;
			background-color: #124FE6;
		}

		.animation{
			position: fixed;
			background-color: yellow;
			font-family: GT America Trial Bold;
			width: 100%;
			height: 100%;
			z-index: 200;
		}


		.circletext{
			position: absolute;
			display: inline-block;
			font-family: GT America Trial Bold;
			color: white;
			font-size: 160px;
			z-index: 300;
			top: 45%;
			left: 45%;
			-webkit-animation-name: circletext;
  			-webkit-animation-duration: 3s;
  			-webkit-animation-iteration-count: 1;


		}

		@-webkit-keyframes circletext {
  5%    {color: white;}
  80%	{color: #124FE6;}
  100%	{color: #124FE6;}
}

		.circle{
			position: fixed;
			display: inline-block;
			background-color:  #124FE6;
			font-size: 160px;
			width: 300px;
			height:300px;
			box-sizing: border-box;
			text-align: center;
			border-radius: 10000px;
			top: 0%;
			left: 0%;
			right: 0%;
			bottom: 0%;
			margin-left: auto;
			margin-right: auto;
			margin-top: auto;
			margin-bottom: auto;
			-webkit-animation-name: circle;
  			-webkit-animation-duration: 3s;
  			-webkit-animation-iteration-count: 1;

		}

		@-webkit-keyframes circle {
  			0%    {width:300px; height:300px; top: 0%; left:0%; right: 0%;bottom: 0%; border-radius: 10000px;}
  			/*70%	{width: 100%; height: 100%; border-radius: 5000px; top: 0%; left: 0%;}*/
  			100%	{width: 300vw; height: 320vw; border-radius: 10000px; top: -100%; left: -100%; bottom: -100%; right: -100%;}
		}
  
  

		

		.title1{
			position: fixed;
			font-family: GT America Trial Bold;
			background-color:  #124FE6;
			color: white;
			display: inline-block;
			z-index: 100;
			text-align: center;
			top: 4vh;
			left: 5vw;
			width: 90%;
			height: 92vh;
			transform: translate(0, 100vh);
			transition: transform 0.5s;
			

		}
		

		.dots{
			position: fixed;
			width: 28px;
			height: 28px;
			background-color: white;
			border-radius: 100%;
			top: 4%;
			left: 30%;
		}

		#dot1{
			position: fixed;
			width: 28px;
			height: 28px;
			background-color: lime;
			border-radius: 100%;
			top: 4%;
			left: 30%;
		}

		#dot2{
			position: fixed;
			width: 28px;
			height: 28px;
			background-color: white;
			border-radius: 100%;
			top: 4%;
			left: 40%;
		}

		#dot3{
			position: fixed;
			width: 28px;
			height: 28px;
			background-color: white;
			border-radius: 100%;
			top: 4%;
			left: 50%;
		}

		#dot4{
			position: fixed;
			width: 28px;
			height: 28px;
			background-color: white;
			border-radius: 100%;
			top: 4%;
			left: 60%;
		}

		#dot5{
			position: fixed;
			width: 28px;
			height: 28px;
			background-color: white;
			border-radius: 100%;
			top: 4%;
			left: 70%;
		}

		.quizpage{
			z-index: 50;
		}

		.Q{
			position: fixed;
			display: inline-block;
			font-family: GT America Trial Bold;
			color: white;
			text-align: center;
			top: 20%;
			left: 10%;
			font-size: 120px;
			font-style: bold;
			z-index: 25;
			width: 80%;
			/*transform: translate(100vw, 100vh);
			transition: transform 1s;
*/
			
		}


		.A{
			/*width: 82%;
			height: 89%;*/
			top: 36%;
			position: fixed;
			display: inline-block;
			font-family: GT America Trial Bold;
			color: black;
			text-align: center;
			font-size: 100px;
		}
		
		#button1{
			display: inline-block;
			margin-top: 10%;
			margin-bottom: 10%;
			width: 80%;
			padding-top: 30px;
			padding-bottom: 30px;
			background-color: white;
			font-family: GT America Trial Bold;
			color: black;
			text-align: center;
			font-size: 60px;
			box-shadow: 15px 15px yellow;

		}

		#button2{
			display: inline-block;
			margin-bottom: 10%;
			width: 80%;
			padding-top: 30px;
			padding-bottom: 30px;
			background-color: white;
			font-family: GT America Trial Bold;
			color: black;
			text-align: center;
			font-size: 60px;
			box-shadow: 15px 15px yellow;

		}

		#button3{
			display: inline-block;
			margin-bottom: 10%;
			width: 80%;
			padding-top: 30px;
			padding-bottom: 30px;
			background-color: white;
			font-family: GT America Trial Bold;
			color: black;
			text-align: center;
			font-size: 60px;
			box-shadow: 15px 15px yellow;

		}

		#button4{
			display: inline-block;
			margin-bottom: 10%;
			width: 80%;
			padding-top: 30px;
			padding-bottom: 30px;
			background-color: white;
			font-family: GT America Trial Bold;
			color: black;
			text-align: center;
			font-size: 60px;
			box-shadow: 18px 18px yellow;

		}

		.finishpage{
			display: inline-block;
			font-family: GT America Trial Bold;
			color: lime;
			font-size: 140px;
			text-align: center;
			margin-top: 50%;


		}

		.nextpage{
			transform: translate(100vw, 100vh);
			transition: transform 0.5s;
			width: 90vw;
			height: 90vh;
			background-color: #124FE6;
		}

		.nexttext{
			display: inline-block;
			position: fixed;
			font-family: GT America Trial Bold;
			color: white;
			font-size: 90px;
			text-align: center;
			margin-top: 20vh;
			left: 8vw;
		}

		#nextbutton1{
			display: inline-block;
			margin-top: 70vh;
			margin-bottom: 10%;
			width: 90%;
			padding-top: 30px;
			padding-bottom: 30px;
			background-color: yellow;
			font-family: GT America Trial Bold;
			color: white;
			text-align: center;
			font-size: 50px;
			
			margin-left: 10%;
		}

		#nextbutton2{
			display: inline-block;
			margin-bottom: 10%;
			width: 90%;
			padding-top: 30px;
			padding-bottom: 30px;
			background-color: lime;
			font-family: GT America Trial Bold;
			color: white;
			text-align: center;
			font-size: 50px;
			
			margin-left: 10%;
		}

		a{
			text-decoration: none;
			color: #124FE6;
			font-family: GT America Mono Trial Regular Italic;
			font-size: 65px;
		}


