*{
	font-size: 30px;
	margin: 25px;
}

#container1{

	position: fixed;
	height: 20vw;
	width: 40vw;
	background-color: white;
	border: solid;
	border-color: MediumSlateBlue;
	color: black;
	font-family: Acumin Pro;
	font-size: 80px;
	text-align: center;

}

#container2{
	margin-top: 4vw;
	margin-left: 50vw;
	height: 20vw;
	width: 40vw;
	background-color: white;
	border: solid;
	border-color: MediumSlateBlue;
	color: black;
	font-family: Acumin Pro;
	font-size: 80px;
	text-align: center;

}