*{
	font-size: 30px;
}


li{
	font-family: arial;
	font-size: 20px;
}

.myaddedListElement{
	font-size: 40px;
	color: blue;

}

#imageButton{
	display: inline-block;
	background-color: black;
	color: white;
	border-radius: 4px;
	
}