body{
	margin: 0;
}

.title{
	position: fixed;
	font-size: 80px;
	font-family: Futura;
	margin-left: 10%;
	margin-right: 50%;
}

.box{
	position: fixed;
	margin-left: 60%;
	top: 10%;
	width: 20%;
	height: 500px;
	border-style: solid;
}

.text{
	margin: 10px;
}
