body{
	margin: 0;
}

.title{
	position: fixed;
	font-size: 80px;
	font-family: Futura;
	font-style: bold;
	margin-left: 13%;
	margin-right: 50%;
}

.subtitle{
	position: fixed;
	font-size: 50px;
	font-family: Futura;
	margin-left: 60%;
	margin-top: 21.5%
}

.box{
	position: fixed;
	margin-left: 60%;
	top: 10%;
	width: 20%;
	height: 500px;
	border-style: solid;
}

.text{
	margin: 10px;
}

.button {
  border-radius: 4px;
  background-color: gold;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: Futura;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 40%;
  margin-top: 40%;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
